.app {
  width: 100vw;
  height: 100vh;
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 1.8s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
}

.error {
  height: calc(100vh);
  width: calc(100vw);
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../public/kali2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  background-origin: initial;
  cursor: move;
}

.access {
  width: 80%;
  font-size: 26px;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
}

.message {
  color: #ffffff;
}
.warning { 
  border: 1px solid red;
  color: red;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width: 768px) {
  .app {
    padding: 10px;
    background-size: contain;
  }
  .access {
    font-size: 16px;
    padding: 10px;
    width: 90%;
  }
  .error {
    background-position: top;
  }
}